## --- 核心源码（绝对不能忽略） ---
# !*.tex
# !*.cls
# !*.bib

/build

## --- 临时编译中间文件（建议忽略） ---
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bcf
*.xml
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv


## --- 索引相关 ---
*.idx
*.ilg
*.ind
*.glo
*.gls
*.ist

## --- 压缩包与系统文件 ---
*.7z
*.rar
*.zip
.DS_Store
Thumbs.db

## --- 编辑器相关 ---
.vscode/
*.sublime-project
*.sublime-workspace